extends ../layouts/layout
include ../mixins/form

block title
  | IT League

block content
  include ../components/about
  include ../components/product
  include ../components/service
  include ../components/partner
  include ../components/feedback
