.about
  .about__contacts
    a(href='tel:+79313032533') +79313032533
    a(href="mailto:hello@itleague.ru") hello@itleague.ru
  .about__main
    .about__main-logo
      img(src=require('@/assets/img/logo/itl-logo.svg') alt="")
    h1 Мы запустили 19 проектов по&nbsp;всей России
    a.button(href='#feedback') Замутить что нибудь крутое
  .about__social
    a(href='https://www.instagram.com/itl_ru/' target="_blank") Instagram
