+cases-item({ modal: 'modal-heroquest', image: require('@/assets/img/cases/heroquest.jpg') })
+cases-item({ modal: 'modal-heroleague', image: require('@/assets/img/cases/heroleague.jpg') })
+cases-item({ modal: 'modal-kronshtadt', image: require('@/assets/img/cases/kronshtadt.jpg') })
+cases-item({ modal: 'modal-road-memory', image: require('@/assets/img/cases/road-memory.jpg') })
+cases-item({ modal: 'modal-ocr-russia', image: require('@/assets/img/cases/ocr-russia.jpg') })
+cases-item({ modal: 'modal-gorilla', image: require('@/assets/img/cases/gorilla.jpg') })
+cases-item({ modal: 'modal-smerch', image: require('@/assets/img/cases/smerch.jpg') })
+cases-item({ modal: 'modal-arena-heroes', image: require('@/assets/img/cases/arena-heroes.jpg') })
+cases-item({ modal: 'modal-run-rzd', image: require('@/assets/img/cases/run-rzd.jpg') })
+cases-item({ modal: 'modal-timetop', image: require('@/assets/img/cases/timetop.jpg') })
+cases-item({ modal: 'modal-zabeg', image: require('@/assets/img/cases/zabeg.jpg') })
+cases-item({ modal: 'modal-ocr-ninja', image: require('@/assets/img/cases/ocr-ninja.jpg') })
+cases-item({ modal: 'modal-speak-2021', image: require('@/assets/img/cases/speak-2021.jpg') })
+cases-item({ modal: 'modal-ERS', image: require('@/assets/img/cases/ERS.jpg') })
+cases-item({ modal: 'modal-LC-GCL', image: require('@/assets/img/cases/LC-GCL.jpg') })
+cases-item({ modal: 'modal-winterhell', image: require('@/assets/img/cases/winterhell.jpg') })
+cases-item({ modal: 'modal-event-platform', image: require('@/assets/img/cases/event-platform.jpg') })
+cases-item({ modal: 'modal-museum', image: require('@/assets/img/cases/museum-ticket-platform.jpg') })
+cases-item({ modal: 'modal-answer-game', image: require('@/assets/img/cases/answer-game.jpg') })
+cases-item({ modal: 'modal-watchshow', image: require('@/assets/img/cases/watch&show.jpg') })
+cases-item({ modal: 'modal-fan-zone', image: require('@/assets/img/cases/fan-zone.jpg') })
+cases-item({ modal: 'modal-games-heroes', image: require('@/assets/img/cases/games-heroes.jpg') })
+cases-item({ modal: 'modal-reading', image: require('@/assets/img/cases/reading-five-plus.jpg') })
+cases-item({ modal: 'modal-inst-parser', image: require('@/assets/img/cases/inst-parser.jpg') })
+cases-item({ modal: 'modal-egranit', image: require('@/assets/img/cases/egranit.jpg') })
+cases-item({ modal: 'modal-ocr-wc', image: require('@/assets/img/cases/ocr-wc.jpg') })
+cases-item({ modal: 'modal-mubarizlar', image: require('@/assets/img/cases/mubarizlar.jpg') })
+cases-item({ modal: 'modal-orda', image: require('@/assets/img/cases/orda.jpg') })
+cases-item({ modal: 'modal-gant', image: require('@/assets/img/cases/gant.jpg') })
+cases-item({ modal: 'modal-rasberry', image: require('@/assets/img/cases/rasber.jpg') })
