.feedback
  h2 Свяжитесь с нами, чтобы запустить свой собственный проект
  .feedback__border
    form.feedback__form
      +input({ placeholder: 'Ваше имя *', required: true })
      +input({ placeholder: 'Email или телефон *', required: true, invalid: true })
      +textarea({ placeholder: 'Сообщение' })
      +checkbox({ text: 'Даю согласие на обработку', link: 'персональных данных', link_href: '', required: true })
      button(type="submit").button Отправить
  .feedback__links
    a(href='javascript:') Instagram
    a(href='tel:+79313032533') +79313032533
    a(href="mailto:hello@itleague.ru") hello@itleague.ru
