.feedback
  h2 Свяжитесь с нами, чтобы запустить свой собственный проект
  form.feedback__form
    input
    input
    textarea
    .checkbox
    button(type="submit").button Отправить
  .feedback__links
    a Instagram
    a +8y879879
    a hello@itlead[skd
