+modal({
  id: 'modal-heroquest',
  title: 'HeroQuest',
  paragraphFirst: `HeroQuest – новая web-платформа,
      разработанная командой ITLeague. Для кого? Для участников event индустрии, а также любых других компаний,
      которые готовы использовать новые инструменты для коммуникаций со своими клиентами и сотрудниками.`,
  paragraphSecond: `Платформа позволяет быстро и
      просто создавать квесты, удобный и яркий интерфейс, панель администратора и пакет аналитическх отчетов.
      Установи на своем сервере и пользуйся, это легко!`,
  buttonHref: 'https://heroquest.app/',
  background: require('@/assets/img/cases/background/heroquest.jpg')
})
+modal({
  id: 'modal-heroleague',
  title: 'Лига Героев',
  subtitle: 'IT ландшафт',
  paragraphFirst: `Лига Героев – команда, которая создает самые масштабные
    и яркие спортивные ивенты на территории России и за ее пределами.`,
  paragraphSecond: `Задача – создание IT ландшафта, включающего полное материальное, техническое,
    организационное и программное обеспечение бизнес-процессов компании. Ключевая задача –
    это создание единого информационного пространства, обеспечивающего основной бизнес-процесс –
    управление ивентами.`,
  background: require('@/assets/img/cases/background/heroleague.jpg')
})
+modal({
  id: 'modal-kronshtadt',
  title: 'Кронштадт остров фортов',
  subtitle: 'IT ландшафт',
  paragraphFirst: `Кронштадт Город Фортов – тематический городской кластер,
    посвященный истории и славе ВМФ России.`,
  paragraphSecond: `Задача – выполнение задач в рамках формирования IT ландшафта для
    Управляющей компании. Подбор оборудования и офисной техники, создание локальной беспроводной
    сети, подключение облачного хранилища, сопровождение.`,
  buttonHref: 'https://xn--80aiqmelqc4c.xn--p1ai/',
  background: require('@/assets/img/cases/background/kronshtadt.jpg')
})
+modal({
  id: 'modal-road-memory',
  title: '1418 Ticket system',
  paragraphFirst: `Музейный Комплекс «Дорога памяти» – галерея, протяженностью
    в 1418 шагов. В галерее рассказана подробная история каждого дня Великой Отечественной войны.`,
  paragraphSecond: `Задача – разработать билетную систему, включающую в себя следующий
    функционал: управление билетной массой
    и продажами, управление доступом в залы, аналитика.`,
  background: require('@/assets/img/cases/background/road-memory.jpg')
})
+modal({
  id: 'modal-ocr-russia',
  title: 'OCR RUSSIA',
  paragraphFirst: `OCR.RU.COM – Федерация по развитию гонокс препятствиями, которая
    объединяет профессиональных атлетов, любителей,
    и организаторов OCR мероприятий по всей стране.`,
  paragraphSecond: `Задача – Разработать многостраничный сайт, позволяющий удобно и просто
    управлять контентом. Обеспечить возможность импорта результатов квалификаций спортсменов.`,
  statisticsFirst: 'спортсменов',
  statisticsFirstNum: '740',
  statisticsSecond: 'аккредитованных гонок',
  statisticsSecondNum: '8',
  background: require('@/assets/img/cases/background/ocr-russia.jpg')
})
+modal({
  id: 'modal-gorilla',
  title: 'Gorilla Energy',
  paragraphFirst: `Gorilla Energy - производитель энергетических напитков,
    активно набирающий популярность в России, Казахстане, Узбекистане, Белоруссии и Украине. Компания
    поддерживает развитие экстремальных видов спорта, являясь спонсором талантливых райдеров
    на территории России и стран СНГ.`,
  paragraphSecond: `Задача -  разработка web-сайта с персонализированной CMS системой.
    Сайт поддерживает мультиязычность и позволяют обособленно управлять контентом для каждой
    языковой страницы. Для реализации использовался php framework Laravel + vue application.
    В текущее время команда IT League  осуществляет техническую поддержку сайта. `,
  buttonHref: 'https://gorillaenergy.com/',
  background: require('@/assets/img/cases/background/gorilla.jpg')
})
+modal({
  id: 'modal-smerch',
  title: 'Смерч',
  subtitle: '',
  paragraphFirst: `Смерч - московский бренд, специализирующийся на пошиве качественного мерча,
    коллаборациях с благотворительными фондами и представителями искусства и медиа пространства,
    а также на бланковой одежде собственного производства.`,
  paragraphSecond: `Задача - разработка интернет магазина, отражающего аутентичный стиль компании,
    с удобной и простой CMS и CRM системами. Главный приоритет  -  легкость в
    обслуживании сайта внутренними силами Смерча и соответствие бизнес-процессам компании. `,
  background: require('@/assets/img/cases/background/heroquest.jpg')
})
+modal({
  id: 'modal-arena-heroes',
  title: 'Арена Героев',
  paragraphFirst: `Арена Героев – уникальный городской формат, объединяющий забеги с препятствиями
    и ТВ шоу. Проводится на культовых площадках крупнейших городов РФ. В 2019 году в
    Москве провели первый Чемпионата мира по NINJA OCR, участниками стали спортсмены из 17 стран мира.`,
  paragraphSecond: `Задача – разработать CMS систему, поддерживающую мультиязычность.
    Обеспечить управление билетной массой
    и оплатами. Поддержка on-line системы регистрации.`,
  statisticsFirst: 'городов',
  statisticsFirstNum: '5',
  statisticsSecond: 'препятствий',
  statisticsSecondNum: '12',
  statisticsThird: 'участников',
  statisticsThirdNum: '>20 000',
  background: require('@/assets/img/cases/background/arena-heroes.jpg')
})
+modal({
  id: 'modal-run-rzd',
  title: 'РЖД RUN',
  subtitle: 'ИнтеграциЯ с системой продаж и регистрация',
  paragraphFirst: `РЖД RUN Достигая цели – ежегодный благотворительный забег,
    собирающий тысячи участников. Все средства от участия
    в благотворительном забеге передаются в фонд «Линия жизни». `,
  paragraphSecond: `Задача – полное техническое и организационное обеспечение
    процессов управления участием в мероприятии от формирования билетной массы и
    управления продажами (динамическое ценообразование + промокоды) до проведения регистрации
    и публикации результатов.`,
  background: require('@/assets/img/cases/background/run-rzd.jpg')
})
+modal({
  id: 'modal-timetop',
  title: 'TimeTop',
  subtitle: 'система хронометрирования',
  paragraphFirst: `Система хронометрирования TimeTop – совокупность оборудования и
    программного обеспечения, позволяющая фиксировать результаты спортивных мероприятий
    любого масштаба.`,
  paragraphSecond: `Задача – разработать систему, удовлетворяющую следующим требованиям:
    низкая стоимость оборудования, высокая пропускная способность, высокая надежность результатов,
    простота установки и эксплуатации системы.`,
  background: require('@/assets/img/cases/background/timetop.jpg')
})
+modal({
  id: 'modal-zabeg',
  title: 'ЗАБЕГ.РФ',
  paragraphFirst: `Забег.РФ – полумарафон с одновременным стартом в 85 городах России. Самый масштабный полумарафон, претендующий
    на внесение в Книгу рекордов Гинесса.`,
  paragraphSecond: `Задача – разработать уникальную IT инфраструктуру, позволяющую объединить сотни тысяч учатсникови более тысячи организаторов
    по всей территории России. CMS система, управление билетной массой и оплатами, on-line регистрация,
    on-line трансляция, управление договорами и закупками, файловой хранилище, трекер задач. `,
  statisticsFirst: 'городов',
  statisticsFirstNum: '85',
  statisticsSecond: 'вида трасс',
  statisticsSecondNum: '4',
  statisticsThird: 'участников',
  statisticsThirdNum: '>150 000',
  buttonHref: 'https://xn--80acghh.xn--p1ai/',
  background: require('@/assets/img/cases/background/zabeg.jpg')
})
+modal({
  id: 'modal-ocr-wc',
  title: 'OCR World Cup',
  paragraphFirst: `OCR World Cup - международное соревнование в формате OCR, призванное объединить
    сильнейших мировых атлетов, впервые проводится на территории России.`,
  paragraphSecond: `Задача - доработка билетной системы, личного кабинета и системы регистрации
    под требования: участие в парах и командах. Доработка системы регистрации для работы с
    несколькими языками. Для реализации использовалась платформа “1С-Bitrix” и лендинга vue
    application для реализации. Реализация проекта за 20 дней. `,
  background: require('@/assets/img/cases/background/ocr-wc.jpg')
})
+modal({
  id: 'modal-speak-2021',
  title: 'HeroQuest',
  subtitle: '',
  paragraphFirst: `HeroQuest – новая web-платформа,
      разработанная командой ITLeague. Для кого? Для участников event индустрии, а также любых других компаний,
      которые готовы использовать новые инструменты для коммуникаций со своими клиентами и сотрудниками.`,
  paragraphSecond: `Платформа позволяет быстро и
      просто создавать квесты, удобный и яркий интерфейс, панель администратора и пакет аналитическх отчетов.
      Установи на своем сервере и пользуйся, это легко!`,
  background: require('@/assets/img/cases/background/heroquest.jpg')
})
+modal({
  id: 'modal-ERS',
  title: 'Event Registration System',
  paragraphFirst: `Event Registration System – универсальное решение для системы регистрации на мероприятии
    любого масштаба и местоположения. Продукт позволяет проводить регистрацию с мобильных устройств, даже при
    отсутствии интернета. Система разработана на базе мини-компьютера raspberry pi.`,
  background: require('@/assets/img/cases/background/ERS.jpg')
})
+modal({
  id: 'modal-LC-GCL',
  title: 'LC GCL',
  paragraphFirst: `Логистическая компания «ЛК Глобал Карго Логистик» – Генеральный подрядчик Лиги Героев.
    Осуществляет полный комплекс работ по логистике грузов на территории России
    и зарубежом.`,
  paragraphSecond: `Задача – разработать landing page с современным дизайном. Обеспечить учет отправки и
    приемки ТМЦ. Коммуникции. Трекер.`,
  statisticsFirst: 'городов',
  statisticsFirstNum: '18',
  statisticsSecond: 'мероприятий',
  statisticsSecondNum: '>150',
  statisticsThird: 'партнеров',
  statisticsThirdNum: '>200',
  buttonHref: 'https://lcgcl.ru/',
  background: require('@/assets/img/cases/background/LC-GCL.jpg')
})
+modal({
  id: 'modal-winterhell',
  title: 'WINTERHELL',
  paragraphFirst: `Winterhell – единственный в своем роде проект. Лучшие препятствия Гонки Героев,
    построенные на трассе Nurburgring. Снег, минусовая температура и гоночный трек, что может быть ярче!`,
  paragraphSecond: `Задача – Разработать IT инфраструктуру, учитывающую особенности европейского
    законодательства в области защиты персональных данных. Интегрировать европейские сервисы
    по продаже билетов. Обеспечить коммуникацию между Центральным офисом и организаторами на местах. `,
  statisticsFirst: 'гоночная трасса',
  statisticsFirstNum: '1',
  statisticsSecond: 'препятствий',
  statisticsSecondNum: '>30',
  statisticsThird: 'участников',
  statisticsThirdNum: '>5000',
  background: require('@/assets/img/cases/background/winterhell.jpg')
})
+modal({
  id: 'modal-event-platform',
  title: 'Event Platform',
  paragraphFirst: `Event Platform – уникальный продукт для управления ивентами,
    который гибко настраивается под любые
    требования ивент-рынка. Разработан на базе микросервисной архитектуры.`,
  paragraphSecond: `Продукт включает в себя весь необходимый функционал
    для управления ивентами: настройка и формирование билетной массы (категории участия),
    запуск и управление продажами, Cross-sell и Up-sell, регистрация участников, публикация
    результатов, сквозная аналитика.`,
  background: require('@/assets/img/cases/background/event-platform.jpg')
})
+modal({
  id: 'modal-museum',
  title: 'Museum Ticket Platform ',
  paragraphFirst: `Museum Ticket Platform – уникальный продукт для управления билетной системы музея.
    Разработан на базе микросервисной архитектуры.`,
  paragraphSecond: `Продукт включает в себя весь необходимый функционал
    для управления посещениями музея: генерация билетной массы, управление продажами, управление зонированием,
    контроль доступа, аналитика.`,
  background: require('@/assets/img/cases/background/museum.jpg')
})
+modal({
  id: 'modal-answer-game',
  title: 'Answer game',
  paragraphFirst: `Answer Game – web-приложение, позволяющее создавать простые текстовые игры для
    опросов, командообразования, получения обратной связи от клиентов или
    сотрудникови многое другое.`,
  paragraphSecond: `Задача – разработать web-приложение, позволяющее управлять запуском и
    сопровождением текстовых игр. Сквозная система рейтингов, ветвление алгоритма вопрос-ответ,
    поддержка разных типов файлов.`,
  statisticsFirst: 'созданных игр',
  statisticsFirstNum: '12',
  statisticsSecond: 'сценарий',
  statisticsSecondNum: '3',
  statisticsThird: 'участников',
  statisticsThirdNum: '>1000',
  background: require('@/assets/img/cases/background/answer-game.jpg')
})
+modal({
  id: 'modal-watchshow',
  title: 'Watch&show',
  subtitle: 'ВИДЕОТРАНСЛЯЦИИ',
  paragraphFirst: `Система видеотрансляций Watch&Show – совокупность оборудования и программного обеспечения,
    позволяющая вывести трансляции спортивных ивентов на новый уровень.`,
  paragraphSecond: `Задача – разработать систему, которая обеспечит проведение видеотрансляции спортивного мероприятия в
    сложных погодных условиях без качественного доступа к интернету на площадке. Система также обеспечивает общий трек
    участников на трассе.`,
  background: require('@/assets/img/cases/background/watch&show.jpg')
})
+modal({
  id: 'modal-fan-zone',
  title: 'Герой Фан-зоны',
  paragraphFirst: `Герой Фан-зоны - это множество уникальных квестов, проводимых на спортивных
    мероприятиях проекта Лиги Героев: Гонка Героев, Urban, Забег. Для проведения квеста используется
    web-приложение HeroQuest`,
  paragraphSecond: `Задача - разработка сценария и заданий для квеста, проводимого на фан-зоне
    спортивных мероприятий с количеством участников от 1500 до 15000 человек. Каждый квест - уникальная
    история, учитывающая характер мероприятия, требования партнеров и особенности
    территории.`,
  statisticsFirst: 'мероприятий',
  statisticsFirstNum: '15',
  statisticsSecond: 'партнеров',
  statisticsSecondNum: '>200',
  statisticsThird: 'заданий',
  statisticsThirdNum: '>500',
  background: require('@/assets/img/cases/background/fan-zone.jpg')
})
+modal({
  id: 'modal-games-heroes',
  title: 'Игры Героев',
  subtitle: 'Результаты',
  paragraphFirst: `Игры Героев – уникальный формат спортивного ивента от команды Лиги Героев.
    Онлайн формат превратит квартиру в зал твоих спортивных достижений!`,
  paragraphSecond: `Задача – создание отдельного приложения для обработки результатов участников.
    Простая и удобная админка позволяет гибко настраивать количество комплексов для зачёта, выгрузить
    участников мероприятия, назначить судей. Интерфейс пользователя позволяет загрузить
    результаты.`,
  statisticsFirst: 'событий',
  statisticsFirstNum: '5',
  statisticsSecond: 'судей',
  statisticsSecondNum: '15',
  statisticsThird: 'участников',
  statisticsThirdNum: '>2000',
  background: require('@/assets/img/cases/background/games-heroes.jpg')
})
+modal({
  id: 'modal-reading',
  title: 'Читаем 5+',
  paragraphFirst: `Online - школа обучения быстрому чтению. Школа предлагает родителям
    разные виды курсов для обучения детей быстрому чтению. `,
  paragraphSecond: `Задача - создание нестандартного формата интенсива для родителей
    по самостоятельному обучению детей скорочтению. В рамках задачи было разработано 55 заданий.
    Они были объединены в единый сквозной сценарий для вовлечения детей в обучающую программу.
    Проект был реализован с использованием web-приложение HeroQuest.`,
  statisticsFirst: 'недели',
  statisticsFirstNum: '3',
  statisticsSecond: 'заданий',
  statisticsSecondNum: '55',
  statisticsThird: 'участников',
  statisticsThirdNum: '530',
  background: require('@/assets/img/cases/background/reading.jpg')
})
+modal({
  id: 'modal-inst-parser',
  title: 'Instagram Parser',
  paragraphFirst: `Instagram Parser – один из сервисов web-платформы HeroQuest,
    который стал отдельным продуктом.`,
  paragraphSecond: `Задача – разработать продукт для синтаксического анализа данных
    в социальной сети Instagram. Ключевые требования – поиск постов и сторис пользователей,
    подписанных на определенный аккаунт и/или группу аккаунтов, в которых отмечены заданные
    в условии упоминания и/или хэштеги.`,
  background: require('@/assets/img/cases/background/inst-parser.jpg')
})
+modal({
  id: 'modal-egranit',
  title: 'Egranit',
  paragraphFirst: `Гранитная мастерская Egranit предлагает полный спектр услуг по изготовлению
    памятников из гранита и мрамора на территории Москвы и Московской области. `,
  paragraphSecond: `Задача - разработка web-сайта с удобной и функциональной CMS системой.
    Дать возможность управлять контентом и гибко настраивать отображение страниц. Для
    реализации использовался php framework Laravel и шаблонизатор Blade. Доработали
    дизайн - освежили и сделали его более современным. В текущее время команда IT League
    осуществляет техническую поддержку сайта. `,
  buttonHref: 'https://egranit.ru/',
  background: require('@/assets/img/cases/background/egranit.jpg')
})
+modal({
  id: 'modal-ocr-ninja',
  title: 'Ninja OCR World Championship',
  paragraphFirst: `Ninja OCR World Championship - международное соревнования в формате Ninja OCR,
    проведенное в 2019 году в Москве на территории Парка Горького. `,
  paragraphSecond: `Задача - адаптация текущей билетной системы, личного кабинета и системы
    регистрации для работы с несколькими языками. Для реализации использовалась платформа “1С-Bitrix”
    и лендинга vue application для реализации.
    Реализация проекта за 30 дней. `,
  statisticsFirst: 'участников',
  statisticsFirstNum: '>1000',
  statisticsSecond: 'стран',
  statisticsSecondNum: '>15',
  statisticsThird: 'зрителей',
  statisticsThirdNum: '>150 000',
  background: require('@/assets/img/cases/background/ocr-ninja.jpg')
})
+modal({
  id: 'modal-mubarizlar',
  title: 'MUBARIZLAR',
  paragraphFirst: `Mubarizler – уникальный проект
    на территории Азербайджана. Более 30 самых интересных и зрелищных препятствий Гонки Героев
    в окружении песчаного полигона.`,
  paragraphSecond: `Задача  – разработать IT инфраструктуру,
    учитывающую особенности локального законодательства. Создание лендинга,
    отражающего национальные особенности, обеспечение процесса продажи билетов и регистрации участников на мероприятии.`,
  statisticsFirst: 'событий',
  statisticsFirstNum: '6',
  statisticsSecond: 'препятствий',
  statisticsSecondNum: '12',
  statisticsThird: 'участников',
  statisticsThirdNum: '>5000',
  background: require('@/assets/img/cases/background/mubarizlar.jpg')
})
+modal({
  id: 'modal-orda',
  title: 'ORDA',
  paragraphFirst: `ORDA - сеть компьютерных клубов, предлагающих своим клиентам топовое железо,
    комфортные условия в игровом зале и огромный список игр.`,
  paragraphSecond: `Задача - создание нестандартной программы лояльности и игровой формы
    получения бонусов для участников. В рамках задачи было вовлечено более 30 партнеров и
    разработано 150 заданий. Проект был реализован с использованием web-приложение HeroQuest. `,
  statisticsFirst: 'участников',
  statisticsFirstNum: '>7000',
  statisticsSecond: 'заданий',
  statisticsSecondNum: '150',
  statisticsThird: 'репостов в социальных сетях ',
  statisticsThirdNum: '800+',
  background: require('@/assets/img/cases/background/orda.jpg')
})
+modal({
  id: 'modal-gant',
  title: 'Gant',
  paragraphFirst: `Gant - Торговая марка GANT представлена на рынке РФ с 2001 года.
    На сегодняшний момент GANT имеет развитую розничную сеть, концептуальные магазины
    расположеные во всех крупных городах России.`,
  paragraphSecond: `Нам была поставлена задача - провести аудит сайта и взаимодействие
    с подрядчиком по реализации замены сайта. Таким образом, мы разработали новый сайт,
    добавив маркетинговые инструменты для повышения лидогенерации.
    Создали системы повышения среднего чека при покупке через сайт
    (дополнительные блоки в корзине покупателя и пр.).`,
  buttonHref: 'https://gant.ru/',
  background: require('@/assets/img/cases/background/gant.jpg')
})
+modal({
  id: 'modal-rasberry',
  title: 'Конфигуратор Raspberry PI',
  paragraphFirst: `Сердцем наших железных разработок является компьютер Raspberry PI. Этот малыш справляется с любыми задачами,
    мы использовали его в наших проектах: рабочее место сотрудника телемедицины,
    система хронометража, система видеотрансляций, система контроля доступа.
    Мы разработали приложение, позволяющее быстро и в автоматическом режиме конфигурировать устройства Raspberry PI.`,
  background: require('@/assets/img/cases/background/rasberry.jpg')
})
