+modal({
  id: 'modal-heroquest',
  title: 'HeroQuest',
  paragraphFirst: `HeroQuest — новая web-платформа,
      разработанная командой IT&#8209;League. Для&nbsp;кого? Для&nbsp;участников event индустрии, а&nbsp;также любых других компаний,
      которые готовы использовать новые инструменты для&nbsp;коммуникаций со&nbsp;своими клиентами и&nbsp;сотрудниками.`,
  paragraphSecond: `Платформа позволяет быстро
    и&nbsp;просто создавать квесты, удобный и&nbsp;яркий интерфейс, панель администратора и&nbsp;пакет аналитическх отчетов.
    Установи на&nbsp;своем сервере и&nbsp;пользуйся, это&nbsp;легко!`,
  buttonHref: 'https://heroquest.app/',
  background: require('@/assets/img/cases/background/heroquest.jpg')
})
+modal({
  id: 'modal-heroleague',
  title: 'Лига Героев',
  subtitle: 'IT ландшафт',
  paragraphFirst: `Лига Героев — команда, которая создает самые масштабные
    и&nbsp;яркие спортивные ивенты на территории России и&nbsp;за&nbsp;ее&nbsp;пределами.`,
  paragraphSecond: `Задача — создание IT ландшафта, включающего полное материальное, техническое,
    организационное и&nbsp;программное обеспечение бизнес-процессов компании. Ключевая задача —
    это создание единого информационного пространства, обеспечивающего основной бизнес-процесс —
    управление ивентами.`,
  background: require('@/assets/img/cases/background/heroleague.jpg')
})
+modal({
  id: 'modal-kronshtadt',
  title: 'Кронштадт остров фортов',
  subtitle: 'IT ландшафт',
  paragraphFirst: `Кронштадт Город Фортов — тематический городской кластер,
    посвященный истории и&nbsp;славе ВМФ&nbsp;России.`,
  paragraphSecond: `Задача — выполнение задач в&nbsp;рамках формирования IT&nbsp;ландшафта
    для&nbsp;Управляющей компании. Подбор оборудования и&nbsp;офисной техники, создание локальной беспроводной
    сети, подключение облачного хранилища, сопровождение.`,
  buttonHref: 'https://xn--80aiqmelqc4c.xn--p1ai/',
  background: require('@/assets/img/cases/background/kronshtadt.jpg')
})
+modal({
  id: 'modal-road-memory',
  title: '1418 Ticket system',
  paragraphFirst: `Музейный Комплекс «Дорога памяти» — галерея, протяженностью
    в&nbsp;1418 шагов. В&nbsp;галерее рассказана подробная история каждого дня Великой Отечественной войны.`,
  paragraphSecond: `Задача — разработать билетную систему, включающую в&nbsp;себя следующий
    функционал: управление билетной массой
    и&nbsp;продажами, управление доступом в&nbsp;залы, аналитика.`,
  background: require('@/assets/img/cases/background/road-memory.jpg')
})
+modal({
  id: 'modal-ocr-russia',
  title: 'OCR RUSSIA',
  paragraphFirst: `Федерация по&nbsp;развитию гонок с&nbsp;препятствиями, которая
    объединяет профессиональных атлетов, любителей,
    и&nbsp;организаторов OCR мероприятий по&nbsp;всей стране.`,
  paragraphSecond: `Задача — разработать многостраничный сайт, позволяющий удобно и&nbsp;просто
    управлять контентом. Обеспечить возможность импорта результатов, квалификаций спортсменов.`,
  statisticsFirst: 'спортсменов',
  statisticsFirstNum: '740',
  statisticsSecond: 'аккредитованных гонок',
  statisticsSecondNum: '8',
  buttonHref: 'https://ocrrussia.com/',
  background: require('@/assets/img/cases/background/ocr-russia.jpg')
})
+modal({
  id: 'modal-gorilla',
  title: 'Gorilla Energy',
  paragraphFirst: `Gorilla Energy&#8209;производитель энергетических напитков,
    активно набирающий популярность в&nbsp;России, Казахстане, Узбекистане, Белоруссии и&nbsp;Украине. Компания
    поддерживает развитие экстремальных видов спорта, являясь спонсором талантливых райдеров
    на&nbsp;территории России и&nbsp;стран СНГ.`,
  paragraphSecond: `Задача — разработка web-сайта с&nbsp;персонализированной CMS&nbsp;системой.
    Сайт поддерживает мультиязычность и&nbsp;позволяют обособленно управлять контентом для&nbsp;каждой
    языковой страницы. Для&nbsp;реализации использовался php framework Laravel + vue framework.
    В&nbsp;текущее время команда IT&nbsp;League осуществляет техническую поддержку сайта. `,
  buttonHref: 'https://gorillaenergy.com/',
  background: require('@/assets/img/cases/background/gorilla.jpg')
})
+modal({
  id: 'modal-smerch',
  title: 'Смерч',
  subtitle: '',
  paragraphFirst: `Смерч — московский бренд, специализирующийся на&nbsp;пошиве качественного мерча,
    коллаборациях с&nbsp;благотворительными фондами, представителями искусства и&nbsp;медиа пространства,
    а&nbsp;также на&nbsp;бланковой одежде собственного производства.`,
  paragraphSecond: `Задача — разработка интернет магазина, отражающего аутентичный стиль компании,
    с&nbsp;удобной и&nbsp;простой CMS и&nbsp;CRM системами. Главный приоритет — легкость
    в&nbsp;обслуживании сайта внутренними силами Смерча и&nbsp;соответствие бизнес&#8209;процессам компании. `,
  buttonHref: 'https://smerch.me/',
  background: require('@/assets/img/cases/background/smerch.jpg')
})
+modal({
  id: 'modal-arena-heroes',
  title: 'Арена Героев',
  paragraphFirst: `Арена Героев — уникальный городской формат, объединяющий забеги с&nbsp;препятствиями
    и&nbsp;ТВ&nbsp;шоу. Проводится на культовых площадках крупнейших городов&nbsp;РФ. В&nbsp;2019 году
    в&nbsp;Москве провели первый Чемпионата мира по&nbsp;NINJA&nbsp;OCR, участниками стали спортсмены из&nbsp;17 стран мира.`,
  paragraphSecond: `Задача — разработать CMS систему, поддерживающую мультиязычность.
    Обеспечить управление билетной массой
    и&nbsp;оплатами. Поддержка on&#8209;line системы регистрации.`,
  statisticsFirst: 'городов',
  statisticsFirstNum: '5',
  statisticsSecond: 'препятствий',
  statisticsSecondNum: '12',
  statisticsThird: 'участников',
  statisticsThirdNum: '>20 000',
  background: require('@/assets/img/cases/background/arena-heroes.jpg')
})
+modal({
  id: 'modal-run-rzd',
  title: 'РЖД RUN',
  subtitle: 'ИнтеграциЯ с системой продаж и&nbsp;регистрация',
  paragraphFirst: `РЖД RUN Достигая цели — ежегодный благотворительный забег,
    собирающий тысячи участников. Все средства от участия
    в&nbsp;благотворительном забеге передаются в&nbsp;фонд «Линия жизни». `,
  paragraphSecond: `Задача — полное техническое и&nbsp;организационное обеспечение
    процессов управления участием в&nbsp;мероприятии от&nbsp;формирования билетной массы
    и&nbsp;управления продажами (динамическое ценообразование + промокоды) до&nbsp;проведения регистрации
    и&nbsp;публикации результатов.`,
  background: require('@/assets/img/cases/background/run-rzd.jpg')
})
+modal({
  id: 'modal-timetop',
  title: 'TimeTop',
  subtitle: 'система хронометрирования',
  paragraphFirst: `Система хронометрирования TimeTop — совокупность оборудования и
    программного обеспечения, позволяющая фиксировать результаты спортивных мероприятий
    любого масштаба.`,
  paragraphSecond: `Задача — разработать систему, удовлетворяющую следующим требованиям:
    низкая стоимость оборудования, высокая пропускная способность, высокая надежность результатов,
    простота установки и&nbsp;эксплуатации системы.`,
  background: require('@/assets/img/cases/background/timetop.jpg')
})
+modal({
  id: 'modal-zabeg',
  title: 'ЗАБЕГ.РФ',
  paragraphFirst: `Забег.РФ — полумарафон с&nbsp;одновременным стартом в&nbsp;85 городах России. Самый масштабный полумарафон, претендующий
    на&nbsp;внесение в&nbsp;Книгу рекордов Гинесса.`,
  paragraphSecond: `Задача — разработать уникальную IT инфраструктуру, позволяющую объединить сотни тысяч учатсников и&#8209;более тысячи организаторов
    по&nbsp;всей территории России. CMS&nbsp;система, управление билетной массой и&nbsp;оплатами, on&#8209;line регистрация,
    on&#8209;line трансляция, управление договорами и&nbsp;закупками, файловой хранилище, трекер задач. `,
  statisticsFirst: 'городов',
  statisticsFirstNum: '85',
  statisticsSecond: 'вида трасс',
  statisticsSecondNum: '4',
  statisticsThird: 'участников',
  statisticsThirdNum: '>150 000',
  buttonHref: 'https://xn--80acghh.xn--p1ai/',
  background: require('@/assets/img/cases/background/zabeg.jpg')
})
+modal({
  id: 'modal-ocr-wc',
  title: 'OCR World Cup',
  paragraphFirst: `OCR World Cup — международное соревнование в&nbsp;формате OCR, призванное объединить
    сильнейших мировых атлетов, впервые проводится на&nbsp;территории России.`,
  paragraphSecond: `Задача — доработка билетной системы, личного кабинета и&nbsp;системы регистрации под&nbsp;требования:
  участие в&nbsp;парах и&nbsp;командах. Доработка системы регистрации для&nbsp;работы с&nbsp;несколькими языками.
  Для реализации использовалась платформа «1С&#8209;Bitrix», лендинг разработан
  с&nbsp;использованием js&nbsp;framework — vue.`,
  background: require('@/assets/img/cases/background/ocr-wc.jpg')
})
+modal({
  id: 'modal-spik',
  title: 'СПИК 2021',
  paragraphFirst: `Санкт-Петербургская интернет-конференция «СПИК 2021» — событие,
    объединяющее всех причастных к&nbsp;миру интернет-маркетинга. В&nbsp;2021 году конференция прошла
    сразу в&nbsp;двух форматах — офлайн и&nbsp;онлайн.`,
  paragraphSecond: `Задача — разработать развлекательный квест для&nbsp;участников конференции.
    Это&nbsp;позволило зрителям в&nbsp;игровой форме погрузиться в&nbsp;нетворкинг и&nbsp;общение с&nbsp;партнерами
    на&nbsp;конференции. В&nbsp;ходе реализации было принято решение разделить участников конференции
    на&nbsp;2&nbsp;типа: офлайн и&nbsp;онлайн. Это&nbsp;отразилось на&nbsp;сценариях прохождения квеста. Для&nbsp;создания
    квеста использовалась web-платформа HeroQuest.`,
  background: require('@/assets/img/cases/background/spik.jpg')
})
+modal({
  id: 'modal-ERS',
  title: 'Event Registration System',
  paragraphFirst: `Event Registration System — универсальное решение для&nbsp;системы регистрации на&nbsp;мероприятии
    любого масштаба и&nbsp;местоположения. Продукт позволяет проводить регистрацию с&nbsp;мобильных устройств,
    даже при&nbsp;отсутствии интернета. Система разработана на&nbsp;базе мини&#8209;компьютера raspberry pi.`,
  background: require('@/assets/img/cases/background/ERS.jpg')
})
+modal({
  id: 'modal-LC-GCL',
  title: 'LC GCL',
  paragraphFirst: `Логистическая компания «ЛК Глобал Карго Логистик» — Генеральный подрядчик Лиги Героев.
    Осуществляет полный комплекс работ по&nbsp;логистике грузов на&nbsp;территории России
    и&nbsp;зарубежом.`,
  paragraphSecond: `Задача — разработать landing page с&nbsp;современным дизайном.
    Обеспечить учет отправки и&nbsp;приемки ТМЦ, коммуникции, трекер.`,
  statisticsFirst: 'городов',
  statisticsFirstNum: '18',
  statisticsSecond: 'мероприятий',
  statisticsSecondNum: '>150',
  statisticsThird: 'партнеров',
  statisticsThirdNum: '>200',
  buttonHref: 'https://lcgcl.ru/',
  background: require('@/assets/img/cases/background/LC-GCL.jpg')
})
+modal({
  id: 'modal-winterhell',
  title: 'WINTERHELL',
  paragraphFirst: `Winterhell — единственный в&nbsp;своем роде проект. Лучшие препятствия Гонки Героев,
    построенные на&nbsp;трассе Nurburgring. Снег, минусовая температура и&nbsp;гоночный трек, что может быть ярче!`,
  paragraphSecond: `Задача — Разработать IT инфраструктуру, учитывающую особенности европейского
    законодательства в&nbsp;области защиты персональных данных. Интегрировать европейские сервисы
    по&nbsp;продаже билетов. Обеспечить коммуникацию между Центральным офисом и&nbsp;организаторами на&nbsp;местах. `,
  statisticsFirst: 'гоночная трасса',
  statisticsFirstNum: '1',
  statisticsSecond: 'препятствий',
  statisticsSecondNum: '>30',
  statisticsThird: 'участников',
  statisticsThirdNum: '>5000',
  background: require('@/assets/img/cases/background/winterhell.jpg')
})
+modal({
  id: 'modal-event-platform',
  title: 'Event Platform',
  paragraphFirst: `Event Platform — уникальный продукт для&nbsp;управления ивентами,
    который гибко настраивается под&nbsp;любые
    требования ивент&#8209;рынка. Разработан на&nbsp;базе микросервисной архитектуры.`,
  paragraphSecond: `Продукт включает в&nbsp;себя весь&nbsp;необходимый функционал
    для&nbsp;управления ивентами: настройка и&nbsp;формирование билетной массы (категории участия),
    запуск и&nbsp;управление продажами, Cross&#8209;sell и&nbsp;Up&#8209;sell, регистрация участников, публикация
    результатов, сквозная аналитика.`,
  background: require('@/assets/img/cases/background/event-platform.jpg')
})
+modal({
  id: 'modal-museum',
  title: 'Museum Ticket Platform ',
  paragraphFirst: `Museum Ticket Platform — уникальный продукт для&nbsp;управления билетной системы музея.
    Разработан на&nbsp;базе микросервисной архитектуры.`,
  paragraphSecond: `Продукт включает в&nbsp;себя весь необходимый функционал
    для&nbsp;управления посещениями музея: генерация билетной массы, управление продажами, управление зонированием,
    контроль доступа, аналитика.`,
  background: require('@/assets/img/cases/background/museum.jpg')
})
+modal({
  id: 'modal-answer-game',
  title: 'Answer game',
  paragraphFirst: `Answer Game — web&#8209;приложение, позволяющее создавать простые текстовые игры
    для&nbsp;опросов, командообразования, получения обратной связи от&nbsp;клиентов или&nbsp;сотрудников
    и&nbsp;многое другое.`,
  paragraphSecond: `Задача — разработать web&#8209;приложение, позволяющее управлять запуском
    и&nbsp;сопровождением текстовых игр. Сквозная система рейтингов,
    ветвление алгоритма вопрос&#8209;ответ,
    поддержка разных типов файлов.`,
  statisticsFirst: 'созданных игр',
  statisticsFirstNum: '12',
  statisticsSecond: 'сценарий',
  statisticsSecondNum: '3',
  statisticsThird: 'участников',
  statisticsThirdNum: '>1000',
  background: require('@/assets/img/cases/background/answer-game.jpg')
})
+modal({
  id: 'modal-watchshow',
  title: 'Watch&show',
  subtitle: 'ВИДЕОТРАНСЛЯЦИИ',
  paragraphFirst: `Система видеотрансляций Watch&Show — совокупность оборудования и&nbsp;программного обеспечения,
    позволяющая вывести трансляции спортивных ивентов на&nbsp;новый уровень.`,
  paragraphSecond: `Задача — разработать систему, которая обеспечит проведение видеотрансляции спортивного мероприятия в&nbsp;сложных
    погодных условиях без&nbsp;качественного доступа к&nbsp;интернету на&nbsp;площадке. Система также обеспечивает общий трек
    участников на&nbsp;трассе.`,
  background: require('@/assets/img/cases/background/watch&show.jpg')
})
+modal({
  id: 'modal-fan-zone',
  title: 'Герой Фан-зоны',
  paragraphFirst: `Герой Фан&#8209;зоны — это множество уникальных квестов, проводимых на спортивных
    мероприятиях проекта Лиги Героев: Гонка Героев, Urban, Забег. Для&nbsp;проведения квеста используется
    web&#8209;приложение HeroQuest`,
  paragraphSecond: `Задача — разработка сценария и&nbsp;заданий для&nbsp;квеста, проводимого на&nbsp;фан&#8209;зоне
    спортивных мероприятий с&nbsp;количеством участников от&nbsp;1500 до&nbsp;15000 человек. Каждый квест — уникальная
    история, учитывающая характер мероприятия, требования партнеров и&nbsp;особенности
    территории.`,
  statisticsFirst: 'мероприятий',
  statisticsFirstNum: '15',
  statisticsSecond: 'партнеров',
  statisticsSecondNum: '>200',
  statisticsThird: 'заданий',
  statisticsThirdNum: '>500',
  background: require('@/assets/img/cases/background/fan-zone.jpg')
})
+modal({
  id: 'modal-games-heroes',
  title: 'Игры Героев',
  subtitle: 'Результаты',
  paragraphFirst: `Игры Героев — уникальный формат спортивного ивента от&nbsp;команды Лиги Героев.
    Онлайн формат превратит квартиру в&nbsp;зал твоих спортивных достижений!`,
  paragraphSecond: `Задача — создание отдельного приложения для&nbsp;обработки результатов участников.
    Простая и&nbsp;удобная админка позволяет гибко настраивать количество комплексов для&nbsp;зачёта, выгрузить
    участников мероприятия, назначить судей. Интерфейс пользователя позволяет загрузить
    результаты.`,
  statisticsFirst: 'событий',
  statisticsFirstNum: '5',
  statisticsSecond: 'судей',
  statisticsSecondNum: '15',
  statisticsThird: 'участников',
  statisticsThirdNum: '>2000',
  background: require('@/assets/img/cases/background/games-heroes.jpg')
})
+modal({
  id: 'modal-reading',
  title: 'Читаем 5+',
  paragraphFirst: `Online — школа обучения быстрому чтению. Школа предлагает родителям
    разные виды курсов для&nbsp;обучения детей быстрому чтению. `,
  paragraphSecond: `Задача — создание нестандартного формата интенсива для&nbsp;родителей
    по&nbsp;самостоятельному обучению детей скорочтению. В&nbsp;рамках задачи было разработано 55&nbsp;заданий.
    Они были объединены в&nbsp;единый сквозной сценарий для&nbsp;вовлечения детей в&nbsp;обучающую программу.
    Проект был&nbsp;реализован с&nbsp;использованием web&#8209;приложение HeroQuest.`,
  statisticsFirst: 'недели',
  statisticsFirstNum: '3',
  statisticsSecond: 'заданий',
  statisticsSecondNum: '55',
  statisticsThird: 'участников',
  statisticsThirdNum: '530',
  background: require('@/assets/img/cases/background/reading.jpg')
})
+modal({
  id: 'modal-inst-parser',
  title: 'Instagram Parser',
  paragraphFirst: `Instagram Parser — один из сервисов web&#8209;платформы HeroQuest,
    который стал отдельным продуктом.`,
  paragraphSecond: `Задача — разработать продукт для&nbsp;синтаксического анализа данных
    в&nbsp;социальной сети Instagram. Ключевые требования — поиск постов и&nbsp;сторис пользователей,
    подписанных на определенный аккаунт и/или группу аккаунтов, в&nbsp;которых отмечены заданные
    в&nbsp;условии упоминания и/или хэштеги.`,
  background: require('@/assets/img/cases/background/inst-parser.jpg')
})
+modal({
  id: 'modal-egranit',
  title: 'Egranit',
  paragraphFirst: `Гранитная мастерская Egranit предлагает полный спектр услуг по изготовлению
    памятников из гранита и&nbsp;мрамора на территории Москвы и&nbsp;Московской области. `,
  paragraphSecond: `Задача - разработка web&#8209;сайта с&nbsp;удобной и&nbsp;функциональной CMS системой.
    Дать возможность управлять контентом и&nbsp;гибко настраивать отображение страниц. Для
    реализации использовался php framework Laravel и&nbsp;шаблонизатор Blade. Доработали
    дизайн - освежили и&nbsp;сделали его более современным. В&nbsp;текущее время команда IT&nbsp;League
    осуществляет техническую поддержку сайта. `,
  buttonHref: 'https://egranit.ru/',
  background: require('@/assets/img/cases/background/egranit.jpg')
})
+modal({
  id: 'modal-ocr-ninja',
  title: 'Ninja OCR World Championship',
  paragraphFirst: `Ninja OCR World Championship — международные соревнования в&nbsp;формате Ninja OCR,
    проведенное в&nbsp;2019 году в&nbsp;Москве на&nbsp;территории Парка Горького. `,
  paragraphSecond: `Задача — адаптация текущей билетной системы, личного кабинета и&nbsp;системы
    регистрации для&nbsp;работы с&nbsp;несколькими языками. Для&nbsp;реализации использовалась платформа «1С&#8209;Bitrix»,
    лендинг разработан с&nbsp;использованием js framework — vue. `,
  statisticsFirst: 'участников',
  statisticsFirstNum: '>1000',
  statisticsSecond: 'стран',
  statisticsSecondNum: '>15',
  statisticsThird: 'зрителей',
  statisticsThirdNum: '>150 000',
  background: require('@/assets/img/cases/background/ocr-ninja.jpg')
})
+modal({
  id: 'modal-mubarizlar',
  title: 'MUBARIZLAR',
  paragraphFirst: `Mubarizler — уникальный проект
    на&nbsp;территории Азербайджана. Более 30 самых интересных и&nbsp;зрелищных препятствий Гонки Героев
    в&nbsp;окружении песчаного полигона.`,
  paragraphSecond: `Задача — разработать IT&nbsp;инфраструктуру,
    учитывающую особенности локального законодательства. Создание лендинга,
    отражающего национальные особенности, обеспечение процесса продажи билетов и&nbsp;регистрации участников на&nbsp;мероприятии.`,
  statisticsFirst: 'событий',
  statisticsFirstNum: '6',
  statisticsSecond: 'участников',
  statisticsSecondNum: '>5000',
  background: require('@/assets/img/cases/background/mubarizlar.jpg')
})
+modal({
  id: 'modal-orda',
  title: 'ORDA',
  paragraphFirst: `ORDA — сеть компьютерных клубов, предлагающих своим клиентам топовое железо,
    комфортные условия в&nbsp;игровом зале и&nbsp;огромный список игр.`,
  paragraphSecond: `Задача - создание нестандартной программы лояльности и&nbsp;игровой формы
    получения бонусов для&nbsp;участников. В&nbsp;рамках задачи было вовлечено более 30 партнеров
    и&nbsp;разработано 150&nbsp;заданий. Проект был реализован с&nbsp;использованием web&#8209;приложения HeroQuest. `,
  statisticsFirst: 'участников',
  statisticsFirstNum: '>7000',
  statisticsSecond: 'заданий',
  statisticsSecondNum: '150',
  statisticsThird: 'репостов',
  statisticsThirdNum: '>800',
  background: require('@/assets/img/cases/background/orda.jpg')
})
+modal({
  id: 'modal-gant',
  title: 'GANT',
  paragraphFirst: `Торговая марка Gant представлена на рынке РФ с&nbsp;2001 года.
    На&nbsp;сегодняшний момент Gant имеет развитую розничную сеть, концептуальные магазины
    расположеные во&nbsp;всех крупных городах России.`,
  paragraphSecond: `Нам была поставлена задача — провести аудит сайта и&nbsp;взаимодействие
    с&nbsp;подрядчиком по&nbsp;реализации замены сайта. Таким образом, мы разработали новый сайт,
    добавив маркетинговые инструменты для&nbsp;повышения лидогенерации.
    Создали системы повышения среднего чека при&nbsp;покупке через сайт
    (дополнительные блоки в&nbsp;корзине покупателя и&nbsp;пр.).`,
  buttonHref: 'https://gant.ru/',
  background: require('@/assets/img/cases/background/gant.jpg')
})
+modal({
  id: 'modal-rasberry',
  title: 'Конфигуратор Raspberry PI',
  paragraphFirst: `Сердцем наших железных разработок является компьютер Raspberry PI. Этот малыш справляется с&nbsp;любыми задачами,
    мы&nbsp;использовали его в&nbsp;наших проектах: рабочее место сотрудника телемедицины,
    система хронометража, система видеотрансляций, система контроля доступа.
    Мы&nbsp;разработали приложение, позволяющее быстро и&nbsp;в&nbsp;автоматическом режиме конфигурировать устройства Raspberry&nbsp;PI.`,
  background: require('@/assets/img/cases/background/rasberry.jpg')
})
