.service
  h2 Услуги
  .service__content
    .service__block
      h3 Геймификация процессов
      .service__block-lines
        span
        span
        span
        span
        span
        span
    .service__items
      .service__items-element
        span IT-органимазация и сопровождение ивентов
      .service__items-element
        span Консалтинг в сфере solution-архитектуры
      .service__items-element
        span Разработка UX/UI дизайна
      .service__items-vertical
        span WEB разработка
