footer.footer
  .container
    span © «Itleague»
    a(href="https://yandex.ru/maps/2/saint-petersburg/house/krasnogvardeyskaya_ploshchad_3ye/Z0kYcgdpT0MGQFtjfXV1cHlqYg==/?ll=30.409661%2C59.941597&z=17.09" target="_blank") Санкт-Петербург, Красногвардейская пл., 3, офис 175
