meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="IT-продукты для автоматизации процессов. ПО и железо для бизнеса. Готовые решения для ивентов. Своя платформа геймификации. Пиши нам, замутим что-нибудь крутое! IT products for process automation. Business software and hardware. Ready-made solutions for events. Own gamification platform. Write to us, we'll stir up something cool!")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="g-recaptcha-key" content="6Ld7KKQUAAAAANaA5kbeRPtpStI327GR3PoP33nx")
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "IT League",
    "alternateName": "ITL",
    "url": "https://itleague.ru/",
    "logo": "https://itleague.ru/itl-logo.svg",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+79313032533",
      "contactType": "customer service",
      "areaServed": ["RU","US"],
      "availableLanguage": ["Russian","en"]
    }
  }

title
  block title
