meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Мы запустили 144 проектов по всей России. Свяжитесь с нами, чтобы замутить что-нибудь крутое!")
meta(http-equiv="X-UA-Compatible" content="ie=edge")
meta(name="g-recaptcha-key" content="6Ld7KKQUAAAAANaA5kbeRPtpStI327GR3PoP33nx")
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "IT League",
    "alternateName": "ITL",
    "url": "https://itleague.ru/",
    "logo": "https://itleague.ru/itl-logo.svg",
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+79313032533",
      "contactType": "customer service",
      "areaServed": ["RU","US"],
      "availableLanguage": ["Russian","en"]
    }
  }

title
  block title
