doctype html
html(lang="en")
  head
    include head
  body
    .wrapper
      main
        include ../mixins/about
        include ../mixins/feedback
        include ../mixins/form
        include ../mixins/partner
        include ../mixins/footer
        block content
    script(src="https://www.google.com/recaptcha/api.js?render=6Ld7KKQUAAAAANaA5kbeRPtpStI327GR3PoP33nx")
