mixin partner(params)
  .partner
    h2 #{params.title}
    .partner__container
      +partner-item({ modal: 'modal-heroquest', image: require('@/assets/img/partner/heroquest.jpg') })
      +partner-item({ image: require('@/assets/img/partner/heroleague.jpg') })
      +partner-item({ image: require('@/assets/img/partner/kronshtadt.jpg') })
      +partner-item({ image: require('@/assets/img/partner/road-memory.jpg') })
      +partner-item({ image: require('@/assets/img/partner/ocr-russia.jpg') })
      +partner-item({ image: require('@/assets/img/partner/gorilla.jpg') })
      +partner-item({ image: require('@/assets/img/partner/smerch.jpg') })
      +partner-item({ image: require('@/assets/img/partner/arena-heroes.jpg') })
      +partner-item({ image: require('@/assets/img/partner/run-rzd.jpg') })
      +partner-item({ image: require('@/assets/img/partner/timetop.jpg') })
      +partner-item({ image: require('@/assets/img/partner/zabeg.jpg') })
      +partner-item({ image: require('@/assets/img/partner/ocr-wc.jpg') })
      +partner-item({ image: require('@/assets/img/partner/speak-2021.jpg') })
      +partner-item({ image: require('@/assets/img/partner/ERS.jpg') })
      +partner-item({ image: require('@/assets/img/partner/LC-GCL.jpg') })
      +partner-item({ image: require('@/assets/img/partner/winterhell.jpg') })
      +partner-item({ image: require('@/assets/img/partner/event-platform.jpg') })
      +partner-item({ image: require('@/assets/img/partner/museum-ticket-platform.jpg') })
      +partner-item({ image: require('@/assets/img/partner/answer-game.jpg') })
      +partner-item({ image: require('@/assets/img/partner/watch&show.jpg') })
      +partner-item({ image: require('@/assets/img/partner/fan-zone.jpg') })
      +partner-item({ image: require('@/assets/img/partner/games-heroes.jpg') })
      +partner-item({ image: require('@/assets/img/partner/reading-five-plus.jpg') })
      +partner-item({ image: require('@/assets/img/partner/inst-parser.jpg') })
      +partner-item({ image: require('@/assets/img/partner/egranit.jpg') })
      +partner-item({ image: require('@/assets/img/partner/ocr-final.jpg') })
      +partner-item({ image: require('@/assets/img/partner/mubarizlar.jpg') })
      +partner-item({ image: require('@/assets/img/partner/orda.jpg') })
      +partner-item({ image: require('@/assets/img/partner/gant.jpg') })
      +partner-item({ image: require('@/assets/img/partner/rasber.jpg') })
  +modal({
    id: 'modal-heroquest',
    title: 'HeroQuest',
    subtitle: '',
    firstParagraph: `HeroQuest – новая web-платформа,
      разработанная командой ITLeague. Для кого? Для участников event индустрии, а также любых других компаний,
      которые готовы использовать новые инструменты для коммуникаций со своими клиентами и сотрудниками.`,
    secondParagraph: `Платформа позволяет быстро и
      просто создавать квесты, удобный и яркий интерфейс, панель администратора и пакет аналитическх отчетов.
      Установи на своем сервере и пользуйся, это легко!`,
    background: require('@/assets/img/partner/background/heroquest.jpg')
  })

mixin partner-item(params)
  .partner__block(data-modal=params.modal)
    img(src=params.image alt="")
